:root{
    --header-gradient: linear-gradient(to right, rgba(4,6,52,1) 0%, rgba(12,52,108,1) 100%);
    --main-blue: #0a2b61;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    min-width: 320px;
    height: 125px;
    background: var(--header-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;

}
header .logo-img{
    width: 90px;
    height: 90px;
}
header .header-nav--menu{
    margin-top: 10px;
    width: 100%;
}
header .header-nav--ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
}
header .header-nav--ul li{
    width: 33%;        /* Centra el texto */
    text-align: center;
}
header .header-nav--ul li a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

main .description{
    width: 90%;
    height: auto;
    padding: 15px;
    margin: 10px auto;
    border: solid black 2px;
    border-radius: 4px;
    background-color:var(--main-blue);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
}
main .description h1{
    text-align: center;
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
main .description p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300px;

    text-align: justify;
}

main .blog{
    width: 90%;
    min-width: 288px;
    height: auto;
    padding: 15px;
    margin: 0 auto;
    border: solid black 2px;
    border-radius: 4px;
    background-color: var(--main-blue);
    color: #FFF;
}
main .blog h1{
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

main .blog p{
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    text-align: justify;
}
